<div class="room">
  <div class="room-header clearfix">
    <div class="room-about">
      <div class="room-name">{{$ctrl.room}}</div>
      <div class="room-num-messages">{{$ctrl.messages.length}} messages</div>
    </div>
  </div>

  <div class="room-history" scroll-glue>
    <ul>
      <li ng-repeat="message in $ctrl.messages"  class="clearfix">
	<div class="about">
          <span class="message-data-time">{{message.datetime}}</span> &nbsp;
	  <span class="message-data-name">{{message.username}}</span> &nbsp;
          <span class="message other-message">{{message.message}}</span>
	</div>
      </li>
    </ul>
  </div>

  <div class="chat-message clearfix">
    <form name="messageform" novalidate>
      <label for="username">Username: </label>
      <input type="text" name="username" ng-model="username" ng-change="setUsername(username)" required ng-minlength="1" />
      <ng-messages for="messageform.username.$error" ng-show="messageform.username.$invalid">
	<ng-message when="required">This field is required</ng-message>
      </ng-messages>

      <br />
      
      <textarea name="message" id="message" placeholder ="Type your message" rows="3" ng-model="newmessage" required ng-minlength="1"></textarea>
      <ng-messages for="messageform.message.$error" ng-show="messageform.message.$invalid">
	<ng-message when="required">This field is required</ng-message>
      </ng-messages>

      <br />
      
      <button ng-click="send(username, newmessage)" ng-disabled="messageform.$invalid">Send</button>
    </form>
  </div>  
</div>

