<div class="room-list" id="room-list">
  <div class="room-list-header" id="room-list-header">Rooms</div>
  <ul class="list">
    
    <li ng-repeat="room in $ctrl.rooms"  class="clearfix">
      <div class="about" ng-click="select(room)">
        <a href="#!/rooms/{{room.name}}">
          <span class="name">{{room.name}}</span>
        </a>
        <span class="num-users">({{room.messages}} messages)</span>
      </div>  
    </li>
    
  </ul>
  
  <div class="room-create" id="room-create">
    <form name="roomcreateform" novalidate>
      <input type="text" placeholder="room" ng-model="newroom" required ng-minlength="1" />
      <button ng-click="create(newroom)" ng-disabled="roomcreateform.$invalid">Create</button>
    </form>
  </div>
</div>
